<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.pitest.pitclipse.launch.mutationTest">
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value=""/>
    <stringAttribute key="org.pitest.pitclipse.core.test.avoidCallsTo" value=""/>
    <stringAttribute key="org.pitest.pitclipse.core.test.container" value=""/>
    <stringAttribute key="org.pitest.pitclipse.core.test.excludeClasses" value="*Test"/>
    <stringAttribute key="org.pitest.pitclipse.core.test.excludeMethods" value=""/>
    <booleanAttribute key="org.pitest.pitclipse.core.test.incrementalAnalysis" value="false"/>
    <booleanAttribute key="org.pitest.pitclipse.core.test.parallel" value="true"/>
</launchConfiguration>
